html, body, #root {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow-y: scroll; 
}

@layer utilities {
  @keyframes coaster-spin {
    0% {
      transform: rotate(0deg) translateX(var(--coaster-radius)) rotate(0deg);
    }
    100% {
      transform: rotate(360deg) translateX(var(--coaster-radius)) rotate(-360deg);
    }
  }

  .animate-coaster-spin {
    animation: coaster-spin 1.5s linear infinite;
  }

  @keyframes grow-shrink {
    0%, 100% {
      transform: scale(1);
      opacity: 0.8;
    }
    50% {
      transform: scale(1.05);
      opacity: 1;
    }
  }

  .animate-grow-shrink {
    animation: grow-shrink 2s infinite ease-in-out;
  }
}